/*==GENERIC RULE==*/

:root{
    --color_primary:rgb(44, 62, 80);
    --color_secondary: rgb(26, 188, 156);
    --color_tertiary: rgb(50, 73, 95);
}

.cont_nav, .cont_footer_b{
    background-color: var(--color_primary);
}

.cont_hero, .cont_about, .color_btn{
    background-color: var(--color_secondary);
}

.cont_info{
    background-color: var(--color_tertiary);
}

.my_min_w_text{
    min-width: 70%;
}

.w_img{
    width: 100%;
    min-width: 170px;
}

.my_rule{
    width: 30%;
    border: 1px solid;
    border-radius: 30px;
    display: inline-block;
}

.my_hover{
    display: none;
}

.hover_rule:hover .my_hover{
    display: block;
}
